body{
    color: red;
}

div.bg {
    /* The image used */
    background-image: url("background_pine_large.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    color: blue;
}